In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# File to Load
file_data = "Resources/purchase_data.csv"

# Read the modified csv file and store into Pandas DataFrame
file_data_df = pd.read_csv(file_data, encoding="utf-8")
file_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Display the total number of players
total_count = len(file_data_df["SN"].unique())
total_count_df = pd.DataFrame({"Total Players":[total_count]})
total_count_df

   Total Players
0            576

In [4]:
# Run basic calculations to obtain number of unique items.
unique_item = len(file_data_df["Item Name"].unique())
average_price = file_data_df["Price"].mean()
number_purchases = len(file_data_df["Purchase ID"])
total_revenue = file_data_df["Price"].sum()
summary_df = pd.DataFrame({"Number of Unique Items":[unique_item],
                           "Average Price":[average_price],
                           "Number of purchases": number_purchases,
                           "Total Revenue": total_revenue})
# Format to $
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)
# Display the summary data frame
summary_df

   Number of Unique Items Average Price  Number of purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [5]:
# Using GroupBy
player_count = file_data_df.groupby(['Gender'])['SN'].nunique()
total_gen_players = file_data_df['SN'].nunique()

# Finding the percentage 
player_percent = player_count/total_gen_players * 100

# Converting into a Dataframe
gender_demo_df = pd.DataFrame({"Total Count":player_count, "Percentage of Players":player_percent})

# Format to %
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{0:,.2f}%".format)
gender_demo_df.index.name = None
gender_demo_df

                       Total Count Percentage of Players
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [21]:
# Using GroupBy in order to separate the data into fields according to "gender" values
grouped_gender_df = file_data_df.groupby(['Gender'])
gender_purchase_count = grouped_gender_df['Purchase ID'].count()
#Average purchase price
gender_avg_price = round(grouped_gender_df['Price'].mean(),2)
#Total Purchase value
gender_total_purchase = grouped_gender_df['Price'].sum()
#Average Total per person
gender_avg_perperson = gender_total_purchase/player_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [7]:
# Converting a GroupBy object into a DataFrame
purchasing_gender_df = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                     "Average Purchase Price": gender_avg_price,
                                     "Total Purchase Value": gender_total_purchase,
                                     "Avg Total Purchase per Person":gender_avg_perperson})

# Format to $
purchasing_gender_df["Average Purchase Price"] = purchasing_gender_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_gender_df["Total Purchase Value"] = purchasing_gender_df["Total Purchase Value"].map("${:.2f}".format)
purchasing_gender_df["Avg Total Purchase per Person"] =  purchasing_gender_df["Avg Total Purchase per Person"].map("${:.2f}".format)

purchasing_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [59]:
#Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [60]:
file_data_df["Total Count"] = pd.cut(file_data_df["Age"], bins, labels=group_names, include_lowest=True)
new_df = file_data_df.groupby(['Total Count'])
count_age = new_df["SN"].nunique()
count_age_total = file_data_df["SN"].nunique()
age_percent = count_age / count_age_total * 100
age_demog_df = pd.DataFrame({"Total Count":count_age, "Percentage of Players":age_percent})
#Format to %
age_demog_df["Percentage of Players"] = age_demog_df["Percentage of Players"].map("{0:,.2f}%".format)
age_demog_df.index.name = None
age_demog_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [15]:
#Most Popular Items
#file_data_df.groupby(['Item ID','Item Name'])

popular_df = file_data_df.groupby(['Item ID','Item Name']).count()
id_df = popular_df.sort_values("Purchase ID",ascending = False)
purchase_count = id_df.iloc[:,2].head()
#aa = file_data_df.loc[ : ,['Item ID', 'Price']]
#aa
pd.DataFrame({"Purchase Count": purchase_count})


#3file_data_df.loc[(aa["Item ID"] == 4 | (aa["Item ID"] == 8),:]

                                                      Purchase Count
Item ID Item Name
92      Final Critic                                              13
178     Oathbreaker, Last Hope of the Breaking Storm              12
145     Fiery Glass Crusader                                       9
132     Persuasion                                                 9
108     Extraction, Quickblade Of Trembling Hands                  9

In [11]:
#Export the resulting table to a new CSV
######.to_csv("output/###.csv", index=True)